.catalogue {
    width: 1000px;
    margin: 0 auto;
}

.bottle {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

img {
    height: 200px;
}

label span {
    display: block;
}

.insert{
    margin: 5px;
    background-color: green;
    
}

.delete{
    margin: 5px;
    background-color: red;
   
}
.button-container{
    display: inline-block;
}

.field-container{
    margin: 10px;
}